


<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse" style="position: fixed;">
  <a class="navbar-toggler navbar-brand" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
   
    <img src="assets/images/brand.png" width="60em" height="30em" class="d-inline-block align-top">
 
    </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="#/">Company Name </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#page1">Page 1 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#page2">Page 2 </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#page3">Page 3 </a>
      </li>
    </ul>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  </div>
</nav>
