
    <div class="jumbotron1 text-center">
      <h1 >Page 3</h1>
      <p >{{message}}</p>
          <div class="container ">
		  <!-- Content here -->
		      <div class="row justify-content-around">
		        <div class="col-4">
		          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
		        </div>
		        <div class="col-4">
		          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
		        </div>
		      </div>
		    </div>
    </div>